<div class="well">
  <h1>Add Keg</h1>
  <div>
    <input #newBrand>
    <label>Brand</label>
  </div>
  <div>
    <input #newName>
    <label>Style</label>
  </div>
  <div>
    <input type="number" #newPrice>
    <label>Pint Price</label>
  </div>
  <div>
    <input type="number" #newAlcContent>
    <label>Alcohol Content</label>
  </div>
  <div>
  <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcContent.value); newName.value=''; newBrand.value=''; newPrice.value=0; newAlcContent.value=0;">Add</button>
  </div>
</div>
