<br>
<div>
  <div class="well" *ngIf="childSelectedKeg">
    <h1>{{childSelectedKeg.brand}}</h1>
    <h3>Edit Keg</h3>

    <input [(ngModel)]="childSelectedKeg.brand">
    <label>Brand</label><br>
    <input [(ngModel)]="childSelectedKeg.name">
    <label>Style</label><br>
    <input [(ngModel)]="childSelectedKeg.price">
    <label>Pint Price</label><br>
    <input [(ngModel)]="childSelectedKeg.alcContent">
    <label>Alcohol Content</label><br>
    <button (click)="doneButtonClicked()">Done</button>
  </div>
</div>
