/* You can add global styles to this file, and also import other style files */
.soldOut{
  color: red;
}

.container {
  font-family: bookman;
  background-color: black;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.background {
}
