/* You can add global styles to this file, and also import other style files */
.soldOut{
  color: red;
}

.container {
  font-family: bookman;
  background-color: black;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.background {
  background-color: grey;
}

.box {
  background-color: grey;
  border-style: solid;
  border-width: thick;;
  border-color: black;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 5%;
}

.blue {
  background-color: lightyellow;
}

.red {
  background-color: tan;
}

.green {
  background-color: lightgrey;
}
